<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form action="/register" method="post">
        <h1>Register First</h1>
        <input type="text" name="name" id="" placeholder="Enter your name">
        <input type="email" name="email" id="" placeholder="Enter your email">
        <input type="password" name="password" id="" placeholder="Enter your password">
        <button type="submit">Register</button>
    </form>
</body>
</html>